.board {
    height: 210px;
    width: 200px;
    background: #34d873;
    align-content: center;
}

.square {
    height: 50px;
    width: 50px;
    margin: 3px;
    background: #f5ecb8;
}

.game-info {
    margin: 5px;
}